{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br xmlns:adding="http://www.w3.org/1999/xhtml">

    <div class="section white black-text">
        <div class="row container">
            <div class="row">
                <h4 class="header col s12 m8 l8">Hello {{ FIRST_NAME }}</h4>

                <div class="right-align s12 m4 l4">
                    <form action="/logout" method="POST">
                        <button class="btn waves-effect waves-light #42a5f5 blue lighten-1" type="submit" name="action">Logout
                            <i class="material-icons right"></i>
                        </button>
                    </form>
                </div>
        </div>


            {% if CONFIRMED == False %}
                <p class="flow-text">
                    You have not yet verified your account, so you cannot submit.
                </p>
                {% for message in get_flashed_messages() %}
                        <div style="padding: 0 1em;" class="error-message red-text row s6">
                            <i> {{ message }} </i>
                        </div>
                    <br>
                {% endfor %}

                <div class="center-align">
                        <a href="/send-verification-code" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">Send Verification Email</a>
                </div>

            {% else %}

                {% if SUBMITTED == None %}
                    <p class="flow-text">
                        You have not submitted a file yet.
                    </p>

                    <p class="flow-text">
                        Make sure you follow the <a href="#guidelines">submission rules & guidelines</a>
                    </p>

                    <form action="/upload-file" method="POST" enctype=multipart/form-data>
                        <div class="file-field input-field">
                            <div class="btn #42a5f5 blue lighten-1">
                                <span>File</span>
                                <input name="file" type="file">
                            </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>
                    <button class="btn waves-effect waves-light black" value="upload" type="submit">
						    Submit<i class="material-icons right">send</i>
					</button>
                    </form>
                    <br>
                    {% for message in get_flashed_messages() %}
                        <div style="padding: 0 1em;" class="error-message red-text row s6">
                            <i> {{ message }} </i>
                        </div>
                    {% endfor %}

                {% else %}
                    <h4>
                        You have submitted <b>{{ SUBMITTED }}</b>
                    </h4>
                    <br>
                    <div class="row center-align">
                        <button href="#delete-submission-modal" class="btn waves-effect black modal-trigger">Delete Submission</button>
                    </div>
                    <br>
                    {% for message in get_flashed_messages() %}
                        <div style="padding: 0 1em;" class="error-message red-text row s6">
                            <i> {{ message }} </i>
                        </div>
                    {% endfor %}
                    <div id="delete-submission-modal" class="modal active">
                        <div class="modal-content">
                            <div id="forgot-password" class="container">
                                <div>
                                    <p class="col row s12 l12 m12 flow-text center-align">
                                        Are you sure want to delete this submission?
                                    </p>
                                    <br>
                                    <a href="/delete-submission" class="col row s12 l12 m12 btn waves-effect waves-light black">
                                        Delete My Submission
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                {% endif %}

            {% endif %}
        </div>

	</div>

        {#  Competition Section  #}
    <div class="section white black-text" id="guidelines">
        <br>
        <div class="row container">

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active #42a5f5 blue-text lighten-1" href="#submission">Submission</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1" href="#rules">Rules</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1"  href="#scoring">Scoring System</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1" href="#downloads">Downloads</a></li>
					<div class="indicator 42a5f5 blue lighten-1" style="z-index:1"></div>
                </ul>
            </div>

            <div id="submission" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Submission</h3>
                        <p class="flow-text">
                            Submissions must be in the form of a CSV file.
                            The CSV file can have headers, but does not need them, so any header labels you want to use are fine.
                            Note that specific string fields, such as group/round names, countries, and WDL (e.g. "Group A"), are <b>case sensitive</b>
                            so make sure that team names, group/round names are the same as in <em>fixtures_brazil_2014.csv</em>, and that WDL (win, draw, lose), are 1 uppercase letter
                        </p>
                        <p class="flow-text">The required CSV structure is as follows:</p>

                        <ul class="collection container">
                            <li class="collection-item">
                                First column: Game Number (1-64), matching the number in the fixtures file
                            </li>
                            <li class="collection-item">
                                Second column: Group (Group A, Group B, Round of 16, Quarter-finals, etc)
                            </li>
                            <li class="collection-item">
                                Third column: Home Team Name
                            </li>
                            <li class="collection-item">
                                Fourth column: Away Team Name
                            </li>
                            <li class="collection-item">
                                Fifth column: Home Team Goals (at end of official play time, 90mins+ added time)
                            </li>
                            <li class="collection-item">
                                Sixth column: Away Team Goals (at end of official play time, 90mins+ added time)
                            </li>
                            <li class="collection-item">
                                <p>Seventh column: WDL (for all games, overall winner in case of extra time/penalties)</p>
                                <ul class="container">
                                    <li>
                                        W – Home team is overall winner
                                    </li>
                                    <li>
                                        L – Home team is overall loser
                                    </li>
                                    <li>
                                        D – Draw (only valid selection for group stages)
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <br>

                        <p class="flow-text">Using the Brazil 2014 results as an example:</p>
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <td>Nr</td>
                                    <td>Group</td>
                                    <td>HomeTeam</td>
                                    <td>AwayTeam</td>
                                    <td>HomeScore</td>
                                    <td>AwayScore</td>
                                    <td>Wdl</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Group A</td>
                                    <td>Brazil</td>
                                    <td>Croatia</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>W</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Group A</td>
                                    <td>Mexico</td>
                                    <td>Cameroon</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>W</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Group B</td>
                                    <td>Spain</td>
                                    <td>Netherlands</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>L</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

            <div id="rules" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Rules</h3>
                        <ol class="collection">
                            <li class="collection-item">Only one submission per person, latest submission before deadline counts.</li>
                            <li class="collection-item">To enter, you must be above the age of 18 and attending third level education.</li>
                            <li class="collection-item">Predictor must be your own work.</li>
                            <li class="collection-item">Predictions submitted must come from the submitted Predictor code.</li>
                            <li class="collection-item">Only consistent predictions are allowed eg. Brazil to lose in semi final and Brazil to win the final are contradicting.</li>
                            <li class="collection-item">Predictions must be in the required format and valid, otherwise will not be accepted.</li>
                            <li class="collection-item">All decisions made by the organizing committee are final.</li>
                            <li class="collection-item">We reserve the right to disqualify participants and withhold the prizes for unfair behaviour or breaking of rules. </li>
                            <li class="collection-item">The winning predictors code must be demonstrated.</li>
                            <li class="collection-item">Only predictions coming from a predictor built by the participant are valid entries to this competition.</li>
                            <li class="collection-item">By taking part in this competition you are agreeing to allow us to collect and store a first name, surname and email address in line with the new GDPR guidelines for the duration of the competition. All information will be deleted after the event.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div id="scoring" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Scoring system</h3>
                        <br>
                        <h4 class="header">Group Stages</h4>
                        <span class="flow-text">
                            Each Group Stage match can give a maximum of 3 points.
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                1 point : Correct Outcome (column 7: W, D, L)
                            </li>
                            <li class="collection-item">
                                3 points : Correct Outcome (W,D,L) and Score (column 5 and 6)
                            </li>
                        </ul>
                        <br>

                        <h4 class="header">Knockout Stages</h4>
                        <span class="flow-text">
                            The same scoring for each match is applied as in group stages. However, each round has a multiplier value for the received score to account for increased difficulty in predictions further on.
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                Round of 16 : score &times; 2
                            </li>
                            <li class="collection-item">
                                Quarter-final : score &times; 4
                            </li>
                            <li class="collection-item">
                                Semi-final : score &times; 6
                            </li>
                            <li class="collection-item">
                                Final : score &times; 10
                            </li>
                        </ul>
                        <br>

                        <h4 class="header">Bonus Points</h4>
                        <span class="flow-text">
                            To account for the difficulty of predicting the correct team in the correct bracket of the tournament we award bonus points for every correctly predicted team in each stage of the competition. These Bonus points are structured as follows:
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                Round of 16 : 1 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                               Quarter-finals : 2 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                Semi-finals : 4 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                Final : 6 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                4<sup>th</sup> Place : 5 bonus points for correct 4<sup>th</sup> place
                            </li>
                            <li class="collection-item">
                                3<sup>rd</sup> Place : 5 bonus points for correct 3<sup>rd</sup> place
                            </li>
                            <li class="collection-item">
                                2<sup>nd</sup> Place : 6 bonus points for correct 2<sup>nd</sup> place
                            </li>
                            <li class="collection-item">
                                1<sup>st</sup> Place: 8 bonus points for correct Winner of World Cup
                            </li>
                        </ul>
                        <br>
                        <span class="flow-text">
                            Only the highest applying bonus score is given per team, i.e a correct third place scores 5 points, not 5+4+2+1.
                        </span>
                        <span class="flow-text">
                            The overall winner is the person whose prediction scores the most points according to the above rules.
                        </span>
                    </div>
                </div>
            </div>

            <div id="downloads" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Downloads</h3>
                        <p class="flow-text">We have collected some data which might be of use for you, as well a some slides from our "Build A Predictor Talk" that might help you in this challenge.</p>
                        <p class="flow-text">The files included in this package are as follows:</p>
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <td>File</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                       Predictor_event_intro_CN_YS.pdf
                                    </td>
                                    <td>
                                        Intro to the competition [Speaker slides by Dr Chrys Ngwa & Yves Sohege]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Haithem_Afli_UCC2018.pdf
                                    </td>
                                    <td>
                                        Using Machine Learning to Predict the Winning Football (Soccer) team [Speaker slides by Haithem	Afli]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Helmut_Simonis_Fifia_Predictor.pdf
                                    </td>
                                    <td>
                                        Hints on Predicting the World Cup [Speaker slides by Helmut Simonis]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       World-Cup-Predictor-Rules-and-Scoring.pdf
                                    </td>
                                    <td>
                                        Details of the Competition.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       actual_brazil_2014.csv
                                    </td>
                                    <td>
                                        The actual results of the Brazil 2014 World Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       fixtures_brazil_2014.csv
                                    </td>
                                    <td>
                                        The fixtures of the Brazil 2014 Work Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       fixtures_russia_2018.csv
                                    </td>
                                    <td>
                                        The fixtures of the Russia 2018 World Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       forecast_goldman_brazil2014.csv
                                    </td>
                                    <td>
                                        Goldman Sachs prediction on each game in the Brazil 2014 World Cup (more details on this in Helmut_Simonis_Fifia_Predictor.pdf)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="center-align">
                        <a download href="{{ url_for('static', filename="PREDICT_WC.zip") }}" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">Download</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section white black-text" id="delete-account">
        <div class="row container">
            <div class="container-item col s12 m12 l12">
                <div class="card-content">
                    <br>
                    <h3 class="header center-align">Delete Account</h3>
                    <p class="flow-text center-align">Would you like to delete your account?</p>
                    <div class="row center-align">
                        <button href="#delete-account-modal" class="btn #ff1744 red accent-3 modal-trigger">
                            Delete Account
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-account-modal" class="modal active">
        <div class="modal-content">
            <div class="container">
                <div>
                    <p class="col row s12 l12 m12 flow-text center-align">
                        <b>Are you sure want to delete this your account?</b>
                    </p>
                    <p class="col row s12 l12 m12 flow-text center-align">
                        <b>This will also delete your submission!</b>
                    </p>
                    <br>
                    <div class="row center-align">
                    <a href="/delete-account" class="col row s12 l12 m12 btn waves-effect waves-light #ff1744 red accent-3">
                        Yes, Delete My Account
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
    <div class="row container col s12 m12 l1 center-align">
        <a href="mailto:ucccsacm@gmail.com" target="_blank">
                <img width="60" src="{{ url_for('static', filename='assets/icons/email.png') }}">
        </a>
        <a href="https://www.facebook.com/uccacmchapter/" target="_blank">
                <img width="60" src="{{ url_for('static', filename='assets/icons/fb.png') }}">
        </a>
        <a href="https://twitter.com/uccacm" target="_blank">
                <img width="60" src="{{ url_for('static', filename='assets/icons/twitter.png') }}">
        </a>
        <a href="https://www.instagram.com/uccacmchapter/" target="_blank">
                <img width="60" src="{{ url_for('static', filename='assets/icons/insta.png') }}">
        </a>
    </div>
</div>
{% endblock %}