{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br>
    {#  Login + Registration Card  #}
    <main class="container">

        {# Login + Registration Tabs #}
        <div class="row">

            {# RegisterForm #}
            <div id="register" class="col s12 m12 l12">
                <form method="POST" action="/change-password" class="col row s12">
					<br>
                    <h3>Change Password</h3>
                    <input name="token" type="text" id="token" value="{{ TOKEN }}" hidden required>

					<div class="row">
                        <div class="input-field">
                            <label for="password">Password</label>
							<input autocomplete="off" name="password" type="password" id="password" class="validate" required>
                        </div>
                        <div class="input-field">
                            <label for="confirmation-password">Confirm Password</label>
							<input autocomplete="off" name="confirmation_password" type="password" id="confirmation-password" class="validate" required>
                            <span class="new badge red" id="passwords-badge" data-badge-caption="" hidden>Passwords do not match</span>
						</div>
					</div>
                    <div class="center-align">
					    <button class="btn waves-effect waves-light black" type="submit" id="submit" disabled>
						    Submit <i class="mdi-content-send right"></i>
					    </button>
                    </div>
				</form>
                <div style="padding: 0 1em;" class="error-message red-text row s6">
					<i> {{ REGISTRATION_MESSAGE }} </i>
				</div>
            </div>
        </div>

    </main>

    <script type="text/javascript">

        function passwordMatch (){
            $('#password, #confirmation-password').on('keyup', function () {
                if ($('#password').val() === $('#confirmation-password').val()) {
                    $('#passwords-badge').text("Passwords match");
                    $('#passwords-badge').attr("class", "new badge green");
                    $('#passwords-badge').show();
                    $('#submit').prop("disabled", false);
                } else if ($('#register-password').val() !== $('#confirmation-password').val()) {
                    $('#passwords-badge').text("Passwords do not match");
                    $('#passwords-badge').attr("class", "new badge red");
                    $('#passwords-badge').show();
                    $('#submit').prop("disabled", true)
                }
            });
        }

        $(document).ready(passwordMatch());
    </script>
{% endblock %}