{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br>

    <h3 class="center-align">Cookies Policy</h3>

    <section class="container">
        <p>
            To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.
        </p>
        <h4>What are cookies?</h4>
        <p>
            A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.
        </p>
        <h4>How do we use cookies?</h4>
        <p>
            A number of our pages use cookies to remember:
        </p>
            <ul>
                <li>
                    Whether you are logged in or not.
                </li>
                <li>
                    If you have agreed (or not) to our use of cookies on this site
                </li>
                <li>
                    the types of cookies used (e.g. session or permanent, first or third-party)
                </li>
                <li>
                    who controls/accesses the cookie-related information (website or third party)
                </li>
                <li>
                    that the cookie will not be used for any purpose other than the one stated
                </li>
            </ul>

        <p>
            Enabling these cookies is not strictly necessary for the website to work but it will provide you with a better browsing experience. You can delete or block these cookies, but if you do that some features of this site may not work as intended.
        </p>
        <p>
            The cookie-related information is not used to identify you personally and the pattern data is fully under our control. These cookies are not used for any purpose other than those described here.
        </p>
        <h5>How to control cookies</h5>
        <p>Y
            ou can control and/or delete cookies as you wish – for details, see aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.
        </p>
    </section>
{% endblock %}