{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br>
    <main class="container">

            {# forgot-password Form #}
            <div id="forgot-password" class="col s12">
                <form method="POST" action="/forgotten-password" class="col row s12">
					<br>
					<div class="row">

						<div class="input-field">
							<label for="login-email">Email</label>
							<input name="email" type="text" id="login-email" required>
                        </div>

					</div>

					<button class="btn waves-effect waves-light black" type="submit">
						Submit
						<i class="mdi-content-send right"></i>
					</button>

				</form>

                {% for message in get_flashed_messages() %}

                <div style="padding: 0 1em;" class="error-message red-text row s6">
					<i> {{ message }} </i>
				</div>

                {% endfor %}

            </div>


    </main>


{% endblock %}