{% extends "skeleton.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    {{ super() }}
    <style>

        .time {
            font-family: Oswald;
            font-size: 70px;
            line-height:120px;
        }

        .timetype {
            font-family: Oswald;
            font-size: 30px;
        }
    </style>

{% endblock %}
{% block body %}
    {{ super() }}

    <div class="parallax-container">
{#    #}
{#    <div id="clockdiv" class="white-text center center-align">#}
{#        <span class="days time"></span><span class="timetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Day</span><br>#}
{#        <span class="hours time"></span><span class="timetype">&nbsp;&nbsp;&nbsp;Hours</span><br>#}
{#        <span class="minutes time"></span><span class="timetype">&nbsp;Minutes</span><br>#}
{#        <span class="seconds time"></span><span class="timetype">&nbsp;Seconds</span>#}
{#    </div>#}

      <div class="parallax">
           <img height="200%"
                style="display: block; transform: translate3d(-50%, 201px, 0px);"
                src="{{ url_for('static', filename='assets/ai_4.jpg') }}">
      </div>
    </div>

    {#  About Section  #}
    <div class="section white black-text" id="about">
        <div class="row container">
          <h2 class="header">Predict The World Cup</h2>
        </div>

        <div class="row container">
            <div class="container-item col s12 m12 l12">
                <div class="card-content">
                    <p class="flow-text">Is artificial intelligence (AI) smarter than an Octopus? At the 2010 FIFA World Cup, Paul the Octopus predicted 12 out of 14 match results correctly but can AI do better in 2018?</p>
                    <p class="flow-text">Researchers at the Insight National Centre for Data Analytics and the UCC student’s chapter of the Association for Computing Machinery (ACM) are running a 3 week competition period where we encourage participants to build their own predictor using whatever dataset and method they want.</p>
                    <p class="flow-text">At the end of challenge period, participants will submit their predictor code and predictions for every match including knockout stages on or before <b>Jun 14th 2018</b>. A scoring system has been designed to evaluate the effectiveness of the predictors and the winners will announced after the world cup finals.</p>
                    <br>

                    <div  class="container-item col s12 m6 l3">
                        <a href="https://www.insight-centre.org/">
                        <img
                             style="width: 100%;
                             display: block;
                             margin-left: auto;
                             margin-right: auto"
                             src="{{ url_for('static', filename='assets/insight_logo_transparent.png') }}">
                        </a>
                    </div>
                    <div style="margin-top: -2%;" class="container-item col s12 m6 l3">
                        <a href="http://acm.ucc.ie/">
                        <img
                             style="width: 60%;
                             display: block;
                             margin-left: auto;
                             margin-right: auto;"
                             src="{{ url_for('static', filename='assets/ACM_2.png') }}">
                        </a>
                    </div>
                    <div class="container-item col s12 m6 l3">
                        <a href="https://netsoc.co/rk/">
                        <img
                             style="width: 60%;
                             display: block;
                             margin-left: auto;
                             margin-right: auto"
                             src="{{ url_for('static', filename='assets/netsoc.png') }}">
                        </a>
                    </div>
                    <div class="container-item col s12 m6 l3">
                        <a href="https://www.ucc.ie">
                        <img
                             style="
                             width: 100%;
                             display: block;
                             margin-left: auto;
                             margin-right: auto"
                             src="{{ url_for('static', filename='assets/UCC_logo_2.png') }}">
                        </a>
                    </div>


                    <br>
                    <h3 class="container-item col s12 m12 l12 header center-align">Registration Is Now Open</h3>
                    <br>
                    <div class="container-item col s12 m12 l12 center-align">
                        <a href="/register" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">Register</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax">
           <img height="200%"
                style="display: block; transform: translate3d(0%, 0px, 0px);"
                src="https://static1.squarespace.com/static/585bd698e4fcb5dc45f9dd17/t/5898a2b4db29d63750f44bd5/1486398351033/GIF.gif?format=1000w">
      </div>
    </div>

        {#  Competition Section  #}
    <div id="competition" class="section white black-text">
        <br>
        <div class="row container">

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active #42a5f5 blue-text lighten-1" href="#submission">Submission</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1" href="#rules">Rules</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1"  href="#scoring">Scoring System</a></li>
                    <li class="tab col s3"><a class="#42a5f5 blue-text lighten-1" href="#downloads">Downloads</a></li>
					<div class="indicator 42a5f5 blue lighten-1" style="z-index:1"></div>
                </ul>
            </div>

            <div id="submission" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Submission</h3>
                        <p class="flow-text">Submissions will be accepted through this website, you must <a href="/register">register</a> first.</p>
                        <p class="flow-text">
                            Submissions must be in the form of a CSV file.
                            The CSV file can have headers, but does not need them, so any header labels you want to use are fine.
                            Note that specific string fields, such as group/round names, countries, and WDL (e.g. "Group A"), are <b>case sensitive</b>
                            so make sure that team names, group/round names are the same as in <em>fixtures_brazil_2014.csv</em>, and that WDL (win, draw, lose), are 1 uppercase letter.
                        </p>
                        <p class="flow-text">The required CSV structure is as follows:</p>
                        <ul class="collection container">
                            <li class="collection-item">
                                First column: Game Number (1-64), matching the number in the fixtures file
                            </li>
                            <li class="collection-item">
                                Second column: Group (Group A, Group B, Round of 16, Quarter-finals, etc)
                            </li>
                            <li class="collection-item">
                                Third column: Home Team Name
                            </li>
                            <li class="collection-item">
                                Fourth column: Away Team Name
                            </li>
                            <li class="collection-item">
                                Fifth column: Home Team Goals (at end of official play time, 90mins+ added time)
                            </li>
                            <li class="collection-item">
                                Sixth column: Away Team Goals (at end of official play time, 90mins+ added time)
                            </li>
                            <li class="collection-item">
                                <p>Seventh column: WDL (for all games, overall winner in case of extra time/penalties)</p>
                                <ul class="container">
                                    <li>
                                        W – Home team is overall winner
                                    </li>
                                    <li>
                                        L – Home team is overall loser
                                    </li>
                                    <li>
                                        D – Draw (only valid selection for group stages)
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <br>

                        <p class="flow-text">Using the Brazil 2014 results as an example:</p>
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <td>Nr</td>
                                    <td>Group</td>
                                    <td>HomeTeam</td>
                                    <td>AwayTeam</td>
                                    <td>HomeScore</td>
                                    <td>AwayScore</td>
                                    <td>Wdl</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Group A</td>
                                    <td>Brazil</td>
                                    <td>Croatia</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>W</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Group A</td>
                                    <td>Mexico</td>
                                    <td>Cameroon</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>W</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Group B</td>
                                    <td>Spain</td>
                                    <td>Netherlands</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>L</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

            <div id="rules" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Rules</h3>
                        <br>
                        <ol class="collection">
                            <li class="collection-item">Only one submission per person, latest submission before deadline counts.</li>
                            <li class="collection-item">To enter, you must be above the age of 18 and attending third level education.</li>
                            <li class="collection-item">Predictor must be your own work.</li>
                            <li class="collection-item">Predictions submitted must come from the submitted Predictor code.</li>
                            <li class="collection-item">Only consistent predictions are allowed eg. Brazil to lose in semi final and Brazil to win the final are contradicting.</li>
                            <li class="collection-item">Predictions must be in the required format and valid, otherwise will not be accepted.</li>
                            <li class="collection-item">All decisions made by the organizing committee are final.</li>
                            <li class="collection-item">We reserve the right to disqualify participants and withhold the prizes for unfair behaviour or breaking of rules. </li>
                            <li class="collection-item">The winning predictors code must be demonstrated.</li>
                            <li class="collection-item">Only predictions coming from a predictor built by the participant are valid entries to this competition.</li>
                            <li class="collection-item">By taking part in this competition you are agreeing to allow us to collect and store a first name, surname and email address in line with the new GDPR guidelines for the duration of the competition. All information will be deleted after the event.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div id="scoring" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Scoring system</h3>
                        <br>
                        <h4 class="header">Group Stages</h4>
                        <span class="flow-text">
                            Each Group Stage match can give a maximum of 3 points.
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                1 point : Correct Outcome (column 7: W, D, L)
                            </li>
                            <li class="collection-item">
                                3 points : Correct Outcome (W,D,L) and Score (column 5 and 6)
                            </li>
                        </ul>
                        <br>

                        <h4 class="header">Knockout Stages</h4>
                        <span class="flow-text">
                            The same scoring for each match is applied as in group stages. However, each round has a multiplier value for the received score to account for increased difficulty in predictions further on.
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                Round of 16 : score &times; 2
                            </li>
                            <li class="collection-item">
                                Quarter-final : score &times; 4
                            </li>
                            <li class="collection-item">
                                Semi-final : score &times; 6
                            </li>
                            <li class="collection-item">
                                Final : score &times; 10
                            </li>
                        </ul>
                        <br>

                        <h4 class="header">Bonus Points</h4>
                        <span class="flow-text">
                            To account for the difficulty of predicting the correct team in the correct bracket of the tournament we award bonus points for every correctly predicted team in each stage of the competition. These Bonus points are structured as follows:
                        </span>
                        <br>
                        <ul class="collection container center-align">
                            <li class="collection-item">
                                Round of 16 : 1 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                               Quarter-finals : 2 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                Semi-finals : 4 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                Final : 6 bonus point per correctly predicted team
                            </li>
                            <li class="collection-item">
                                4<sup>th</sup> Place : 5 bonus points for correct 4<sup>th</sup> place
                            </li>
                            <li class="collection-item">
                                3<sup>rd</sup> Place : 5 bonus points for correct 3<sup>rd</sup> place
                            </li>
                            <li class="collection-item">
                                2<sup>nd</sup> Place : 6 bonus points for correct 2<sup>nd</sup> place
                            </li>
                            <li class="collection-item">
                                1<sup>st</sup> Place: 8 bonus points for correct Winner of World Cup
                            </li>
                        </ul>
                        <br>
                        <span class="flow-text">
                            Only the highest applying bonus score is given per team, i.e a correct third place scores 5 points, not 5+4+2+1.
                        </span>
                        <span class="flow-text">
                            The overall winner is the person whose prediction scores the most points according to the above rules.
                        </span>
                    </div>
                </div>
            </div>

            <div id="downloads" class="row">
                <div class="container-item col s12 m12 l12">
                    <div class="card-content">
                        <br>
                        <h3 class="header">Downloads</h3>
                        <p class="flow-text">We have collected some data which might be of use for you, as well a some slides from our "Build A Predictor Talk" that might help you in this challenge.</p>
                        <p class="flow-text">The files included in this package are as follows:</p>
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <td>File</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                       Predictor_event_intro_CN_YS.pdf
                                    </td>
                                    <td>
                                        Intro to the competition [Speaker slides by Dr Chrys Ngwa & Yves Sohege]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Haithem_Afli_UCC2018.pdf
                                    </td>
                                    <td>
                                        Using Machine Learning to Predict the Winning Football (Soccer) team [Speaker slides by Haithem	Afli]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Helmut_Simonis_Fifia_Predictor.pdf
                                    </td>
                                    <td>
                                        Hints on Predicting the World Cup [Speaker slides by Helmut Simonis]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       World-Cup-Predictor-Rules-and-Scoring.pdf
                                    </td>
                                    <td>
                                        Details of the Competition.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       actual_brazil_2014.csv
                                    </td>
                                    <td>
                                        The actual results of the Brazil 2014 World Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       fixtures_brazil_2014.csv
                                    </td>
                                    <td>
                                        The fixtures of the Brazil 2014 Work Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       fixtures_russia_2018.csv
                                    </td>
                                    <td>
                                        The fixtures of the Russia 2018 World Cup in CSV format.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       forecast_goldman_brazil2014.csv
                                    </td>
                                    <td>
                                        Goldman Sachs prediction on each game in the Brazil 2014 World Cup (more details on this in Helmut_Simonis_Fifia_Predictor.pdf)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="center-align">
                        <a download href="{{ url_for('static', filename="PREDICT_WC.zip") }}" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">Download</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax">
           <img height="110%"
                style="display: block; transform: translate3d(-50%, 201px, 0px);"
                src={{ url_for('static', filename='assets/ai.gif') }}>
      </div>
    </div>


     <div class="section white black-text" id="sponsors">
        <div class="row container">
          <h2 class="header">Sponsors</h2>
        </div>
         <div class="row container">
            <div class="container-item col s12 m12 l12">
                <div class="card-content">
                    <p class="flow-text">
                        We're giving away more than <b>€1,000</b> worth of prizes, including a <b>Playstation 4</b>, with more to be announced. This is all thanks to our wonderful sponsors.
                    </p>

                    <div class="container-item col s12 m12 l4">
                         <a href="https://www.nitrosell.com/">
                             <img
                                 width="100%"
                                 src="{{ url_for('static', filename='assets/NitroSellLogo.jpg') }}">
                            </a>

                    </div>

                    <div class="row container-item col s12 m12 l4">
                        <a href="https://www.choice.ie/">
                            <img
                                 width="100%"
                                 style="margin-top: 10%"
                                 src="{{ url_for('static', filename='assets/choice.png') }}">
                            </a>
                    </div>
                </div>
            </div>
         </div>
     </div>


    <div class="parallax-container">
      <div class="parallax">
           <img height="200%"
                style="display: block; transform: translate3d(-50%, 201px, 0px);"
                src=https://media3.giphy.com/media/uH7JvseKVMojS/giphy.gif>
      </div>
    </div>

    <div class="section">
        <div class="row container col s12 m12 l1 center-align">
            <a href="mailto:ucccsacm@gmail.com" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/email.png') }}">
            </a>
            <a href="https://www.facebook.com/uccacmchapter/" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/fb.png') }}">
            </a>
            <a href="https://twitter.com/uccacm" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/twitter.png') }}">
            </a>
            <a href="https://www.instagram.com/uccacmchapter/" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/insta.png') }}">
            </a>
        </div>
    <div class="footer-copyright">
            <div class="container">
            We use cookies for account registration, login features, and form submission. Read our full <a href="/cookies-policy">cookie policy</a> and <a href="/data-protection">data protection statement</a>.
            </div>
          </div>
    </div>

{#    <script type="text/javascript" src="{{ url_for('static', filename='js/deadline.js') }}"></script>#}


{% endblock %}

