{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br>

    <h3 class="center-align">Data Protection Statement</h3>

    <section class="container">
        <h4>Data Protection Notice</h4>
        <p>At University College Cork, we treat your privacy seriously. Any personal data which you provide to the University will be treated with the highest standards of security and confidentiality, in accordance with Irish and European Data Protection legislation. This notice sets out details of the information that we collect, how we process it and who we share it with. It also explains your rights under data protection law in relation to our processing of your data.</p>
        <h5>Who we are</h5>
        <p>Throughout this Notice, “we”, “us” and “our” refers to ‘Insight Centre for Data Analytics’, University College Cork. For more information about us, please refer to our website: <a href="https://www.insight-centre.org">www.insight- centre.org</a></p>
        <h5>How we collect your personal data</h5>
        <p>We collect your data from you when you register for this World Cup Prediction Competition. It will be used by us only in accordance with the purposes outlined in this notice. We collect your information so we can register you on the list of submissions made to us and we can accept your subsequent CSV file for review. We will use it to notify you of the date of winner announcements and presentation day.</p>
        <h5>The purpose and legal basis for collecting your data</h5>
        <p>Any personal data you provide to us via this online registration form will be processed fairly and lawfully.</p>
        <p>It will be used for the purposes of:</p>
        <ol>
          <li>
              Adding your name and email address to a submissions list of accepted CSV files for evaluation and review.
          </li>
          <li>To notify you of details of the ‘Winner Announcement and Prize Day’ ceremony.</li>
        </ol>
        <p>The Data Protection Acts allows us to process your data because you have provided your explicit consent. You are entitled to withdraw your consent at any time. If you do withdraw your consent, Insight Centre for Data Analytics will no longer process your personal data and will take steps to delete all reference to your data securely.</p>
        <h5>Details of third parties with whom we share personal data</h5>
        <p>Your data will not be shared with any third parties. Your data will be stored on UCC servers only. We are using UCC NetSoc servers for web services, these are hosted on UCC servers with their own data notice which can be found <a href="/netsoc-policy">here</a>.</p>
        <h5>How long we will keep your data</h5>
        <p>In keeping with the data protection principles we will only store your data for as long as is necessary. For the purposes described here we will store your data for no more than 1 month after the end date of winner announcements. This retention period has been selected in case there are any ‘post- competition’ queries or re-evaluations required.</p>
        <h5>Your rights</h5>
        <p>You have various rights under data protection law, subject to certain exemptions, in connection with our processing of your personal data, including the right:</p>
        <ul>
          <li>to find out if we use your personal data, access your personal data and receive copies of your personal data;</li>
          <li>to have inaccurate/incomplete information corrected and updated;</li>
          <li>in certain circumstances, to have your details deleted from systems that we use to process your personal data or have the use of your personal data restricted in certain ways;</li>
          <li>to object to certain processing of your data by UCC;</li>
          <li>to exercise your right to data portability where applicable (i.e. obtain a copy of your personal data in a commonly used electronic form;</li>
          <li>where we have relied upon consent as a lawful basis for processing, to withdraw your consent to the processing at any time;</li>
          <li>to not be subject to solely automated decision;</li>
          <li>to request that we stop sending you direct marketing communications.</li>
        </ul>
        <p>If you wish to avail of these rights, please write to: The Information Compliance Manager, University College Cork, 4 Carrigside, College Road, Cork (or email <a href="mailto:foi@ucc.ie">foi@ucc.ie</a>).</p>
        <h5>Questions or Complaints</h5>
        <p>If you have any queries in relation to this application form please contact Yves Sohege at <a href="mailto:yves.sohege@insight-centre.org">yves.sohege@insight-centre.org</a></p>
        <p>If you have any complaints in connection with our processing of your personal data, you can contact UCC’s Information Compliance Manager: <b>Information Compliance Manager, Office of Corporate &amp; Legal Affairs, University College Cork, Western Road, Cork E: <a href="mailto:foi@ucc.ie">foi@ucc.ie</a> Tel: +353 21 4903949</b></p>
        <p>You also have the right to lodge a complaint with the Data Protection Commission if you are unhappy with our processing of your personal data. Details of how to lodge a complaint can be found on the Data Protection Commission’s website (<a href="www.dataprotection.ie">www.dataprotection.ie</a>), or by telephoning 1890 252 231.</p>
        <p>In submitting this form, you understand and agree that your personal details will be used by Insight for the purposes outlined above.</p>
    </section>

    <div class="section">
        <div class="row container col s12 m12 l1 center-align">
            <a href="mailto:ucccsacm@gmail.com" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/email.png') }}">
            </a>
            <a href="https://www.facebook.com/uccacmchapter/" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/fb.png') }}">
            </a>
            <a href="https://twitter.com/uccacm" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/twitter.png') }}">
            </a>
            <a href="https://www.instagram.com/uccacmchapter/" target="_blank">
                    <img width="60" src="{{ url_for('static', filename='assets/icons/insta.png') }}">
            </a>
        </div>
    <div class="footer-copyright">
            <div class="container">
            We use cookies for account registration, login features, and form submission. Read our full <a href="/cookies-policy">cookie policy</a> and <a href="/privacy-statement">privacy statement</a>.
            </div>
          </div>
    </div>

{% endblock %}