{% extends "skeleton.html" %}
{% block body %}
    {{ super() }}
    <br>

    <h3 class="center-align">Privacy Statement</h3>

    <section class="container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales velit at accumsan venenatis. Mauris et congue massa, ac interdum velit. Donec eu arcu vel ipsum faucibus venenatis eu ut nulla. Aliquam erat volutpat. Praesent vel iaculis arcu. Maecenas nec augue at ante fringilla condimentum et ac lorem. Mauris pellentesque mi quis rutrum commodo. Sed blandit massa et tempus commodo.

Cras odio justo, commodo vel viverra et, euismod sit amet tortor. Sed convallis accumsan malesuada. Donec pulvinar quis dolor non vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla gravida dui in turpis consequat pulvinar non ut odio. Sed placerat varius odio. Aenean dignissim lorem dapibus massa fringilla, et vehicula est commodo. Nulla sit amet pellentesque nisi, in tristique elit.

Nullam porttitor semper porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam blandit facilisis malesuada. Curabitur venenatis viverra auctor. Pellentesque cursus elit at malesuada pellentesque. Nam congue sem leo, sit amet placerat dui accumsan ac. Integer viverra erat a diam faucibus vulputate. Curabitur posuere eros eu tellus bibendum rutrum. Mauris quis ornare nisi, eleifend scelerisque quam. Etiam varius, neque et tristique dapibus, enim neque sagittis ipsum, eu hendrerit nunc sapien non massa.

Nullam scelerisque sollicitudin enim ac molestie. Nullam finibus id lectus non volutpat. Aenean rutrum consequat elit, vitae molestie tellus congue nec. Phasellus risus purus, eleifend in maximus tempor, euismod at ante. Nulla facilisi. Sed sed dolor ante. Aenean rhoncus sagittis malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed viverra dui egestas nulla vehicula, at rhoncus mauris imperdiet.

Vestibulum vitae ullamcorper leo. Vivamus faucibus venenatis enim, at suscipit arcu facilisis vel. Nam dignissim enim vel nisi varius venenatis. Quisque vehicula venenatis augue, in commodo urna tristique nec. Morbi quis feugiat purus, vel volutpat erat. Donec sed nunc dui. Fusce viverra porttitor ante, id rutrum ante efficitur id. Morbi imperdiet eleifend mi sed interdum. Curabitur placerat ultrices metus, eu efficitur ante. Aliquam ipsum ipsum, placerat vel interdum at, venenatis id nisi. Morbi vitae ipsum at mauris congue scelerisque. Duis malesuada pulvinar massa id blandit. In maximus scelerisque augue, non commodo dui laoreet a. Nunc gravida mollis risus eu ultrices. Etiam tincidunt purus non lacus gravida, et egestas nunc feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </section>

{% endblock %}