<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Predict The World Cup</title>
    <link rel="shortcut icon" href="http://insight-centre.org/sites/all/themes/insight_theme/favicon.ico" type="image/x-icon">
    <meta property="og:image" content="{{ url_for('static', filename='assets/ai_4.jpg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>

            @media only screen and (max-width: 1047px) {
                nav img {
                height: 40px;
                    padding-bottom: 1%;
            }

            }

        </style>
    {% endblock %}
</head>

<body class="white">
    {% block body %}
        {% if COOKIES_NOTIFICATION %}
        <section class="container">
        <br>
            <div class="right-align"><a href="/accept-policy"><i class="material-icons">close</i></a></div>

            <h5>We use cookies for account registration, login features, and form submission. Read our full <a href="/cookies-policy">cookie policy</a> and
                <a href="/privacy-statement">privacy statement</a>.</h5>
        </section>
        {% endif %}

        <nav class="navbar-fixed nav-extended white">
            <div class="container">
                <div class="nav-wrapper black-text white" style="padding-right: 5%;padding-left: 1%">
                    <div class="brand-logo">
                        <a href="/">
                            <img src="http://insight-centre.org/sites/all/themes/insight_theme/favicon.ico" class="responsive-img center-align"
                                 style="height: 65px;padding-bottom: 30%; padding-top: 30%">
                        </a>
                    </div>
                    <a href="#" data-activates="mobile-demo" class="black-text button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down sidenav">
                        <li>
                            <a href="/#about" class="black-text">About Us</a>
                        </li>
                        <li>
                            <a href="/#competition" class="black-text">Competition</a>
                        </li>
                        <li>
                            <a href="/#sponsors" class="black-text">Sponsors</a>
                        </li>
                        {% if LOGGED_IN %}
                        <li>
                            <a href="/admin" class="black-text">Account</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/register" class="black-text">Login/Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
            <ul class="side-nav white" id="mobile-demo">
                        <li>
                            <a href="/#about">About Us</a>
                        </li>
                        <li>
                            <a href="/#competition">Competition</a>
                        </li>
                        <li>
                            <a href="/#sponsors">Sponsors</a>
                        </li>
                        {% if LOGGED_IN %}
                        <li>
                            <a href="/admin" class="black-text">Account</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/register" class="black-text">Login/Register</a>
                        </li>
                        {% endif %}
                    </ul>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function(){

            $('.parallax').parallax();
            $(".button-collapse").sideNav();
            });

            $(document).ready(function(){
            $('.modal').modal();
            $('.collapsible').collapsible();
            $('.dropdown-trigger').dropdown();

            });


        </script>

    {% endblock %}
</body>

</html>